 .w-40{
     width:100%;
     
 }
 .identify-border{
 
     padding-bottom: 20px;
     padding-left: 11px;
     padding-right: 11px;
     
     width: 400px;
     box-shadow:rgb(9 30 66 / 31%) 0px 0px 1px, rgb(9 30 66 / 25%) 0px 20px 32px -8px;
 }
 
 
 .forcenter{
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100vh;
     align-items: center;
     background-color: transparent;
     
     padding: 375 rem .75rem;

 }
 .userinput{
    
     margin-bottom: 12px;
     
 }
 .select-button{

 }
 .loginbutton{
    float: right;
 }
 
     
 
 .click-checkbox{
     float:right;
     padding: 4px;
 }
 .select-box{
     width: 100%;
     margin-bottom: 4px;
 }
 .remember-me{
     font-style: italic;
     color: black;
     font-size: 0.8rem;
     cursor: pointer;
 }

 .image-logo{

 }
 .image-container{
    
 }