
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(13px, -11px) scale(0.75) !important;
  background-color: white;
}

.MuiInputLabel-formControl {
 
  transform: translate(17px, 24px) scale(1) !important;
}
.MuiInputLabel-shrink {
  transform: translate(17px, -10.5px) scale(0.75) !important;
  transform-origin: top left;
  background-color: white;
  z-index: 10;
}

